.slideLeft-leave-active,
.slideLeft-enter-active {
  transition: 1s;
  transition-timing-function: ease-in-out;
  
}
.slideLeft-enter {
  transform: translate(100%, 0);
}
.slideLeft-leave-to {
  transform: translate(-100%, 0);
  
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: .8s;
  transition-property: opacity;
  transition-timing-function: ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0
}