

// menu options animation
.slide-right-left-enter-active {
  animation: slide-right-left 1s ;
  
}
.slide-right-left-leave-active {
  animation: slide-right-left .6s reverse;
}
@keyframes slide-right-left {
  0% {
    transform: translateX(150%);
    opacity: 0;
  } 
  100% {transform: translateX(0%);}
}
// route/banner fade
.fade-enter-active,
.fade-leave-active {
  transition-duration: .5s;
  transition-property: opacity;
  transition-timing-function: ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0
}

// slide up (mobile / on banner)
@keyframes slide-down-top {
  0% {transform: translateY(300%) rotate(40deg);} 
  100% {transform: translateY(0%); }
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fade-from-left {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes fade-from-right {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}